<div id="group">
<ul class="pagination">

    <% if (cost === 0) {%>
    <li class="page-item active"><a href="<%=baseurl+pathurl+"?pageNum=1"%>" class="page-link">0</a></li>
    <%} else {%>
    <li class="page-item"><a href="<%=baseurl+pathurl+"?pageNum=1"+"&cost=0"%>" class="page-link">0</a></li>
    <%}%>

    <% if (cost === 1) {%>
    <li class="page-item active"><a href="<%=baseurl+pathurl+"?pageNum=1"%>" class="page-link">1</a></li>
    <%} else {%>
    <li class="page-item"><a href="<%=baseurl+pathurl+"?pageNum=1"+"&cost=1"%>" class="page-link">1</a></li>
    <%}%>

    <% if (cost === 2) {%>
    <li class="page-item active"><a href="<%=baseurl+pathurl+"?pageNum=1"%>" class="page-link">2</a></li>
    <%} else {%>
    <li class="page-item"><a href="<%=baseurl+pathurl+"?pageNum=1"+"&cost=2"%>" class="page-link">2</a></li>
    <%}%>

    <% if (cost === 3) {%>
    <li class="page-item active"><a href="<%=baseurl+pathurl+"?pageNum=1"%>" class="page-link">3</a></li>
    <%} else {%>
    <li class="page-item"><a href="<%=baseurl+pathurl+"?pageNum=1"+"&cost=3"%>" class="page-link">3</a></li>
    <%}%>

    <% if (cost === 4) {%>
    <li class="page-item active"><a href="<%=baseurl+pathurl+"?pageNum=1"%>" class="page-link">4</a></li>
    <%} else {%>
    <li class="page-item"><a href="<%=baseurl+pathurl+"?pageNum=1"+"&cost=4"%>" class="page-link">4</a></li>
    <%}%>

    <% if (cost === 5) {%>
    <li class="page-item active"><a href="<%=baseurl+pathurl+"?pageNum=1"%>" class="page-link">5</a></li>
    <%} else {%>
    <li class="page-item"><a href="<%=baseurl+pathurl+"?pageNum=1"+"&cost=5"%>" class="page-link">5</a></li>
    <%}%>

    <% if (cost === 6) {%>
    <li class="page-item active"><a href="<%=baseurl+pathurl+"?pageNum=1"%>" class="page-link">6</a></li>
    <%} else {%>
    <li class="page-item"><a href="<%=baseurl+pathurl+"?pageNum=1"+"&cost=6"%>" class="page-link">6</a></li>
    <%}%>

    <% if (cost === 7) {%>
    <li class="page-item active"><a href="<%=baseurl+pathurl+"?pageNum=1"%>" class="page-link">7</a></li>
    <%} else {%>
    <li class="page-item"><a href="<%=baseurl+pathurl+"?pageNum=1"+"&cost=7"%>" class="page-link">7</a></li>
    <%}%>

    <% if (cost === 8) {%>
    <li class="page-item active"><a href="<%=baseurl+pathurl+"?pageNum=1"%>" class="page-link">8</a></li>
    <%} else {%>
    <li class="page-item"><a href="<%=baseurl+pathurl+"?pageNum=1"+"&cost=8"%>" class="page-link">8</a></li>
    <%}%>

    <% if (cost === 9) {%>
    <li class="page-item active"><a href="<%=baseurl+pathurl+"?pageNum=1"%>" class="page-link">9</a></li>
    <%} else {%>
    <li class="page-item"><a href="<%=baseurl+pathurl+"?pageNum=1"+"&cost=9"%>" class="page-link">9</a></li>
    <%}%>

    <% if (cost === 10) {%>
    <li class="page-item active"><a href="<%=baseurl+pathurl+"?pageNum=1"%>" class="page-link">10+</a></li>
    <%} else {%>
    <li class="page-item"><a href="<%=baseurl+pathurl+"?pageNum=1"+"&cost=10"%>" class="page-link">10+</a></li>
    <%}%>

</ul>
</div>