<!DOCTYPE html>
<html>
<head>
    <%include partials/header.ejs%>
    <link rel="stylesheet" href="/stylesheets/index.css">
    <title><%=cardback.name%></title>
</head>
<body>
<%include partials/navbar%>
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="card">
                <img class="card-img-top" src="<%=cardback.img%>">
            </div>
        </div>
        <div class="col-sm-6 col-md-8 col-lg-8 mt-5">
            <div class="card mt-4 mb-3">
                <div class="card-header">
                    <b>CardBack Info</b>
                </div>
                <div class="card-body">
                    <table class="table table-borderless">
                        <tbody>
                        <tr>
                            <th style="width: 50%" scope="row">Name</th>
                            <td><%=cardback.name%></td>
                        </tr>
                        <tr>
                            <th style="width: 50%" scope="row">Description</th>
                            <td><%=cardback.description%></td>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card mb-5">
                <div class="card-header">
                    <b>Other Info</b>
                </div>
                <div class="card-body">
                    <table class="table table-borderless">
                        <tbody>
                        <tr>
                            <th style="width: 50%" scope="row">ID</th>
                            <td><%=cardback.cardBackId%></td>
                        </tr>
                        <tr>
                            <th style="width: 50%" scope="row">Source</th>
                            <td><%=cardback.source%></td>
                        </tr>
                        <% if (cardback.howToGet!==undefined) {%>
                        <tr>
                            <th style="width: 50%" scope="row">HowToGet</th>
                            <td><%=cardback.howToGet%></td>
                        </tr>
                        <%}%>
                        <% if (cardback.locale!==undefined) {%>
                        <tr>
                            <th style="width: 50%" scope="row">Locale</th>
                            <td><%=cardback.locale%></td>
                        </tr>
                        <%}%>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<%include partials/footer.ejs%>
<%include partials/script.ejs%>

</body>
</html>