<!DOCTYPE html>
<html>
<head>
    <%include partials/header.ejs%>
    <link rel="stylesheet" href="/stylesheets/index.css">
    <title><%=card.name%></title>
</head>
<body>
<%include partials/navbar.ejs%>
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="card">
                <img class="card-img-top" src="<%=card.img%>">
            </div>
        </div>
        <div class="col-sm-6 col-md-8 col-lg-8 mt-5">
            <div class="card mt-4 mb-3">
                <div class="card-header">
                    <b>Card Info</b>
                </div>
                <div class="card-body">
                    <table class="table table-borderless">
                        <tbody>
                        <tr>
                            <th style="width: 50%" scope="row">Name</th>
                            <td><%=card.name%></td>
                        </tr>
                        <tr>
                            <th style="width: 50%" scope="row">Type</th>
                            <td><%=card.type%></td>

                        </tr>
                        <tr>
                            <th style="width: 50%" scope="row">PlayerClass</th>
                            <td><%=card.playerClass%></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">
                    <b>Property</b>
                </div>
                <div class="card-body">
                    <table class="table table-borderless">
                        <tbody>
                        <tr>
                            <th style="width: 50%" scope="row">Cost</th>
                            <td><%=card.cost%></td>
                        </tr>
                        <tr>
                            <th style="width: 50%" scope="row">Attack</th>
                            <td><%=card.attack%></td>

                        </tr>
                        <tr>
                            <th style="width: 50%" scope="row">Health</th>
                            <td><%=card.health%></td>
                        </tr>
                        <tr>
                            <th style="width: 50%" scope="row">Text</th>
                            <td><%=card.text%></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card mb-5">
                <div class="card-header">
                    <b>Other Info</b>
                </div>
                <div class="card-body">
                    <table class="table table-borderless">
                        <tbody>
                        <% if (card.cardSet!==undefined) {%>
                            <tr>
                                <th style="width: 50%" scope="row">CardSet</th>
                                <td><%=card.cardSet%></td>
                            </tr>
                        <%}%>
                        <% if (card.faction!==undefined) {%>
                        <tr>
                            <th style="width: 50%" scope="row">Fraction</th>
                            <td><%=card.faction%></td>
                        </tr>
                        <%}%>
                        <% if (card.rarity!==undefined) {%>
                        <tr>
                            <th style="width: 50%" scope="row">Rarity</th>
                            <td><%=card.rarity%></td>
                        </tr>
                        <%}%>
                        <% if (card.flavor!==undefined) {%>
                        <tr>
                            <th style="width: 50%" scope="row">Flavor</th>
                            <td><%=card.flavor%></td>
                        </tr>
                        <%}%>
                        <% if (card.artist!==undefined) {%>
                        <tr>
                            <th style="width: 50%" scope="row">Artist</th>
                            <td><%=card.artist%></td>
                        </tr>
                        <%}%>
                        <% if (card.elite!==undefined) {%>
                        <tr>
                            <th style="width: 50%" scope="row">Elite</th>
                            <td><%=card.elite%></td>
                        </tr>
                        <%}%>
                        <% if (card.collectible!==undefined) {%>
                        <tr>
                            <th style="width: 50%" scope="row">collectible</th>
                            <td><%=card.collectible%></td>
                        </tr>
                        <%}%>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<%include partials/footer.ejs%>
<%include partials/script.ejs%>

</body>
</html>